.header {
  position: relative;
  max-height: 175px;
  height: @d175px;

  letter-spacing: 0.2px;
  color: @light-black;
  background-color: #fff;
}

.header__mobile {
  display: none;
}

.header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__desktop {
  padding-top: @d30px;
}

.header__desktop-top {
  display: block;
  padding-bottom: @d20px;
}

.header__desktop-bottom {
  padding-top: @d30px;
  padding-bottom: @d30px;
  background-color: #f8f8f8;
  // .b(red);
}

.header__consultation-phone {
  display: none;
}

.header__consultation-phone--link {
  font-size: @m45px;
  font-weight: 700;

  color: #2f2f2f;
  text-decoration: none;
}

.header__callback {
  display: none;
}

/*styles for index page*/

.index-bg {
  display: none;

  position: absolute;
  z-index: -1;
  max-height: 1000px;
  min-height: 49.5vw;
  width: 100%;

  background-color: #00497a;
}

.index-bg__img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.main.index .index-bg {
  display: block;
}

.header.index {
  position: absolute;
  z-index: 15;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: transparent;
}

.header.index .header__desktop-bottom {
  background-color: transparent;
}

.header.index,
.header.index p,
.header.index .nav-info__link,
.header.index .main-nav__link,
.header.index .nav-section__link,
.header.index .logo,
.header.index .logo__text--strong {
  color: @white;
 }

.header.index .logo__text,
.header.index .logo__text--strong {
  font-weight: 400;
 }

.header.index .menu-toggle span {
  transition: 0.3s 0.4s;
}

.header.index .menu-toggle span,
.header.index .menu-toggle::before,
.header.index .menu-toggle::after {
  background-color: @white;
}

.header.index .menu-toggle.active span {
  background-color: transparent;
}

.header.index .nav-section__item--services {
  display: none;
}

.header.index .logo__text::before {
  background-image: url("../img/svg/logo-nd-white.svg");
}

.header.index .header__search-link::before {
  background-image: url("../img/svg/search-white.svg");
}

.header.index .nav-info__item--search .nav-info__link::before {
  background-image: url('../img/svg/search-white.svg');
}

.header.index .nav-section__link .nav-section__icon:first-of-type {
  display: none;
}

.header.index .nav-section__link .nav-section__icon:last-of-type {
  display: block;
}

.search-container {
  display: none;
}

@media (max-width: @mobile-width) {

  .header {
    z-index: 20;
    position: fixed;

    width: 100%;
    max-height: none;
    // height: @m242px;
    // height: auto;
    height: @m126px;

    background-color: @white;
  }

  .header__mobile {
    display: block;
  }

  .header__mobile-top {
    z-index: 10;
    position: relative;

    padding-top: @m26px;
    padding-bottom: @m26px;

    background-color: #fff;
  }

  .header__mobile-bottom {
    position: relative;
    transition: all .3s ease;
    // box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.07);
  }

  .out.header__mobile-top {
    box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.07);
  }

  .out.header__mobile-bottom {
    z-index: -1;
    transform: translateY(-100%);
  }

  .search.header__mobile-top {
    box-shadow: none;
  }

  .header.index {
    position: absolute;
    position: fixed;
    background-color: transparent;
    background-image: linear-gradient(90deg, #004f82 0%, rgb(0, 92, 148) 100%);

    .header__mobile {
      // padding-bottom: @m16px;
      background-color: transparent;
    }

    .header__mobile-top {
      background-image: linear-gradient(90deg,#004f82 0%, #005c94 100%);
    }

    .header__mobile-bottom {
      position: relative;
      background-image: linear-gradient(90deg, #004f82 0%, #005c94 100%);

      &::before,
      &::after {
        content: '';
        position: absolute;

        width: 100%;
        height: @m1px;

        background-color: #ffffff;
        opacity: 0.14;
      }
      &::before {
        top: @m1px;
      }
      &::after {
        // bottom: -@m16px;
        bottom: 0;
      }
    }

    .search-container {
      background-image: linear-gradient(90deg, #004f82 0%, #005c94 100%);
    }

    .active.header__search-link {
      &::before {
        background-image: url("../img/svg/search-gray.svg");
      }
    }
  }

  .header__desktop.container {
    .padding-inline(0);
  }

  .header__desktop {
    // padding-top: @m10px;
    padding-top: 0;
  }

  .header__desktop-top {
   display: none;
  }

  .header__search-link {
    position: relative;
    display: block;
    width: @m50px;
    height: @m50px;

    text-decoration: none;

    border: none;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: -@m5px;
      left: -@m6px;
      width: @m57px;
      height: @m57px;

      background-image: url("../img/svg/search-green.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .active.header__search-link {
    &::before {
      background-image: url("../img/svg/search-gray.svg");
    }
  }

  .search-container {
    display: none;

    width: 100%;
    height: @m90px;
    padding-top: @m30px;
    padding-bottom: @m30px;

    transition: all .3s ease;

    box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.07);
    background-color: #fff;
  }

  .active.search-container {
    display: block;
  }

  .out.search-container {
    margin-top: @m20px;
    transform: translateY(-100%);
  }

  .header__search-link-form {
    .mn();
    box-sizing: border-box;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: @m680px;
    height: @m90px;
    padding-left: @m15px;

    background-color: #fff;
    box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.06);
    border-radius: 45px;
  }

  .header__search-link-input {
    max-width: none;
    width: 70%;
    padding-left: @m88px;


    font-size: @m30px;
    font-weight: 400;
    line-height: @m50px;
    letter-spacing: 0.14px;

    color: #747474;
    background-color: transparent;
    border: none;
  }

  .header__search-link-icon-btn {
    position: absolute;
    top: 50%;
    left: 4.9%;
    transform: translateY(-50%);

    width: @m37px;
    height: @m37px;

    border: none;
    background-color: transparent;
    background-image: url("../img/svg/search-green.svg");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }

  .header__desktop-bottom {
    display: none;
  }

  /*при отключённом js*/
  // .header__mob-menu--nojs,
  .active.header__desktop-bottom {
    box-sizing: border-box;
    display: block;
    width: 100%;

    height: 100vh;
    overflow-y: scroll;

    overflow-y: scroll;
    overflow-x: hidden;

    padding-left: @m35px;
    padding-right: @m35px;
    padding-bottom: @m120px;

    background-color: #fff;
  }

  /**/

  .active.header__desktop-bottom {
    position: absolute;
    box-shadow: 0 10px 10px 0px rgba(5, 9, 48, 0.05);
  }

  .header__consultation-phone {
    display: flex;
    flex-direction: column;

    margin-bottom: @m66px;

    font-size: @m30px;
    color: #747474;
  }

  .header__consultation-phone--text {
    padding-bottom: @m10px;
  }

  .header__callback {
    display: block;
    margin-bottom: @m84px;

    width: @m374px;
    height: @m75px;
    border-radius: 38px;
    background-color: #14b250;
  }

  .header__callback--link {
    width: 100%;
    height: 100%;
  }

  .index-bg {
    max-height: none;
    height: 141vw;
  }

  // .header.index {
  //   background-color: transparent;
  // }
}

@media (min-width: @max-desktop-width) {

  .header__desktop {
    padding-top: 30px;
  }

  // .header__desktop-top {
  //   padding-bottom: 40px;
  // }

  .header__desktop-top {
    padding-bottom: 20px;
  }

  .header__desktop-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .index-bg {
    min-height: 0;
    height: 950px;
  }
}
