.logo {
  display: flex;
  align-items: center;

  font-family: @gotham;
  text-decoration: none;

  color: @light-black;
}

.logo__text {
  position: relative;
  padding-left: 2.864583vw;

  font-size: 1.25vw;
  font-weight: 300;

  &--strong {
    font-weight: 700;
  }

  &::before {
    content: '';
    position: absolute;
    top: -0.520vw;
    left:  -0.3125vw;

    max-width: 50px;
    max-height: 50px;
    width: 2.60416vw;
    height: 2.60416vw;

    background-image: url("../img/svg/logo-nd-green.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.footer__logo {
  .logo__text::before {
    background-image: url("../img/svg/logo-nd-white.svg");
  }
}


@media (max-width: @mobile-width) {

  .logo__text {
    width: 14.666vw;
    padding-left: 11.16vw;

    font-size: @m33px;
    letter-spacing: 0.17px;

    &::before {
      top: -@m17px;
      left: -@m24px;
      max-width: none;
      max-height: none;
      width: 14.666vw;
      height: 14.666vw;
    }
  }
}

@media  (min-width: @max-desktop-width) {

  .logo__text {
    padding-left: 55px;
    font-size: 24px;

    &::before {
      top: -10px;
      left: -6px;
    }
  }
}
