.nav-section {
  margin-top: @m32px;
  padding-top: @m27px;
  padding-bottom: @m14px;
  font-size: @m27px;
  background-color: #f8f8f8;
}

.header.index .nav-section {
  background-color: transparent;
}

.nav-section.active {
  display: none;
}

.nav-section__list {
  display: flex;
  justify-content: space-between;
}

.nav-section__link {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: @m42px;

  text-decoration: none;
  color: @light-black;
  color: #2f2f2f;
}

.nav-section__icon {
  position: absolute;
  top: 0px;
  width: @m35px;
  height: @m35px;
  padding-bottom: @m10px;
}

.nav-section__item:nth-child(2) {
  .nav-section__icon {
    top: -@m6px;
    width: @m46px;
    height: @m46px;
  }
}

.nav-section__icon:last-of-type {
  display: none;
}

.nav-section__title {
  color: #2f2f2f;
}
