.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size:  0.98958vw;
}

.nav-info__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 990px;
  width: 51.26vw;
  padding-top: 0.3125vw;

  letter-spacing: 0.1px;
}

.nav-info__item {
  &--search {
    padding-left: 2.60416vw;
  }
}

.nav-info__link {
  color: @light-black;
  text-decoration: none;

  &--callback {
    max-width: 210px;
    max-height: 37px;
    width: 10.9vw;
    height: 1.9270833vw;

    text-transform: none;
    color: @white;
  }

  &--around-clock {
    color: #14b250;
  }

}

@media (min-width: @max-desktop-width) {
  .nav-info {
    font-size: 19px;
  }

  .nav-info__list {
    padding-top: 6px;
  }

  .nav-info__item {
    &--search {
      padding-left: 50px;
    }
  }
}
