// preloader
.dws-progress-bar {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 100;
}
.progress-percentage {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

 font-size: 40px;
 font-family: @circe;
 font-weight: bold;
 color: #14b250;
}
#preloader {
 position: fixed;
 z-index: 100;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: @circe;
  font-weight: @font-weight;
  background-color: #fcfcfd;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #747474;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

ul {
  .reset-list();
}

h1,
h2,
h3 {
  color: #2f2f2f;
}

h1,
h2,
h3,
p {
  .mp-reset(0,0);
}

button,
input {
  font-family: @circe;
}

.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}

.container {
  max-width: 1625px;
  width: 84.6%;
  .margin-inline(@a);

  @media (max-width: @mobile-width) {
    width: auto;
    .padding-inline(@m35px);
  }
}

.detox-main-wrapper {
  display: flex;
  justify-content: space-between;

  min-height: 1500px;
}

.detox-column-wrapper {
  // .b(blue);
  width: 63.02vw;
  padding-top: @d20px;

  @media (max-width: @mobile-width) {
  }

  @media (min-width: @max-desktop-width) {
    width: 1210px;
    padding-top: 20px;
  }
}

.detox-aside-wrapper {
  // .b(black);
  width: 19.89vw;
  padding-top: @d20px;

  @media (max-width: @mobile-width) {
  }

  @media (min-width: @max-desktop-width) {
    width: 382px;
    padding-top: 20px;
  }

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 243px;
  max-height: 55px;
  width: 12.648vw;
  height: 2.864583vw;

  text-align: center;
  text-transform: uppercase;

  font-size: 0.9375vw;
  font-weight: 400;
  letter-spacing: 0.09px;

  color: @white;
  background-color: #14b250;

  border: none;
  border-radius: 19px;

  @media (max-width: @mobile-width) {
    .mn();
    width: 36vw;
    height: @m66px;
    font-size: @m27px;
    border-radius: 38px;
  }

  @media (min-width: @max-desktop-width) {
    font-size: 18px;
  }
}
