// preloader
// .dws-progress-bar {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  z-index: 100;
// }
// .progress-percentage {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);

//  font-size: 40px;
//  font-family: @circe;
//  font-weight: bold;
//  color: #14b250;
// }
// #preloader {
//  position: fixed;
//  z-index: 100;
//  left: 0;
//  top: 0;
//  right: 0;
//  bottom: 0;
// }

/* the source files: https://github.com/tis-cake/new-day/tree/master/source/less */

html {
  font-size: 62.5%;
}

@media (max-width: 108em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 54.6875%;
  }
}

@media (max-width: 96em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 33.333%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4px;
  }
}

body {
  margin: 0;
  padding: 0;

  font-size: 1.8rem;
  font-family: @circe;
  font-weight: @font-weight;
  background-color: #fcfcfd;
}

.img-desktop {
  display: block;
}

.img-mobile {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #747474;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

ul {
  .reset-list();
}

h1,
h2,
h3 {
  color: #2f2f2f;
}

h1,
h2,
h3,
h4,
p {
  .mp-reset(0,0);
}

button {
  cursor: pointer;
}

button,
input {
  font-family: @circe;
}

.noscroll {
  overflow: hidden !important;
  height: 100% !important;
  // position: fixed;
  // width: 100%!important;
}

.overlay {
  display: none;

  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.5);
}

.active.overlay {
  display: block;
}

.huge-img {
  display: none;
 
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 600px;
  height: auto;
}
 
.huge-img img {
  width: 100%;
  border-radius: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1625px;
  width: 84.6%;
  .margin-inline(@a);
}

.container-out-right {
  width: 92.187vw; // 1770px 
  margin-left: @a;
}

.double-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.double-column-wrapper {
  width: 62vw; // 1190 px
  padding-top: @d20px;
}

.double-aside-wrapper {
  width: @d382px;
  padding-top: @d20px;
}

.hidden-mobile-block {
  display: none;
}

.btn {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: @d243px;
  height: @d55px;

  text-align: center;
  text-transform: uppercase;

  font-size: 0.9375vw;
  font-weight: 400;
  letter-spacing: 0.09px;

  color: @white;
  background-color: #14b250;
  cursor: pointer;

  border: none;
  border-radius: 19px;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.7);
    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;

    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}

.btn:active {
  padding: 0;
}

.phone-mask:invalid {
  // box-shadow: none;
}

// .warning__input:-moz-submit-invalid,
.warning__input:-moz-ui-invalid,
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}

.logo,
.header .nav-info__link:not(.nav-info__link--callback),
// .header .main-nav__link,
.intro__link,
.main-nav__sub-link,
.main-info__contact-link,
.rehab-swiper__slide .rehab-swiper__text-wrapper,
.swiper-pagination-bullet,
.swiper-button-next,
.swiper-button-prev,
.price__service-link,
.breadcrumbs__link,
.tariffs__link,
.contacts-map__filter-handler,
.contacts-map__filter-item,
.calc__filter-handler,
.calc__filter-item,
.other-region__link,
.database-search__icon-btn,
.database-search__link,
.faq__wrapper--q,
.contacts-map__local-link,
.contacts-map__link,
.contacts-map__number,
.contacts-map__mail,
.reviews__btn-more,
.footer__link,
.footer__number-link {
  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;
  }
  &:active {
    opacity: 0.5;
  }
}

.services__link:hover .services__img,
.services__link:focus .services__img,
.contacts-map__btn:hover .contacts-map__btn-text::before,
.contacts-map__btn:focus .contacts-map__btn-text::before {
  opacity: 0.7;
}

.contacts-map__btn:active .contacts-map__btn-text::before {
  opacity: 0.5;
}

.go-top-btn {
  &.active {
    opacity: 1;
  }
  position: fixed;
  z-index: 50;
  
  transition-duration: 1s;
  opacity: 0;

  left: 50%;
  transform: translateX(-@d940px);
  // transform: translateX(@d835px);
  bottom: @d100px;

  width: @d103px;
  height: @d103px;
  padding: 0;

  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  // box-shadow: 0 8px 68px rgba(15, 13, 47, 0.09);
  box-shadow: 0 8px 68px rgba(15, 13, 47, 0.15);

  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: @d50px;
    height: @d23px;

    background-image: url('../img/svg/arrow-brown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    box-shadow: 0 8px 68px rgba(15, 13, 47, 0.35);

    outline: none;
    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;
  }
}

.green-price {
  display: block;
  margin-top: @d30px;
  font-size: @d30px;
  font-weight: 700;
  color: #1ab455;
}

@media (max-width: @mobile-width) {
  body {
    font-size: 3.2rem;
  }
  
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }
  
  .container,
  .container-out-right {
    width: auto;
    .padding-inline(@m35px);
  }
  .double-column-wrapper {
    width: @m678px;
  }
  .double-aside-wrapper {
    display: none;
  }
  .hidden-desktop-block {
    display: none;
  }
  .hidden-mobile-block {
    display: block;
  }
  .btn {
    .mn();
    width: 36vw;
    height: @m66px;
    font-size: @m27px;
    border-radius: 38px;
  }
  .go-top-btn {
    display: none!important;
  }

  .green-price {
    margin-top: @m18px;
    font-size: @m30px;
  }
}
@media (min-width: @max-desktop-width) {
  
  .container-out-right {
    width: 1770px;
    margin-right: @a;
    transform: translateX(75px);
  }
  .double-column-wrapper {
    width: 1190px;
    padding-top: 20px;
  }
  .double-aside-wrapper {
    width: 382px;
    padding-top: 20px;
  }
  .btn {
    width: 243px;
    height: 55px;
    font-size: 18px;
  }
  .go-top-btn {
    transform: translateX(-940px);
    // transform: translateX(835px);
    bottom: 100px;
    width: 103px;
    height: 103px;

    &::before {
      width: 50px;
      height: 23px;
    }

    // &::before,
    // &::after {
    //   width: 35px;
    //   height: 3px;
    // }
  }
  .green-price {
    margin-top: 30px;
    font-size: 30px;
  }
}
