.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: @d231px;
}

.about__column-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  padding-top: 0;
  border-radius: 30px;
  box-shadow: 20.065px 18.067px 55.2px 4.8px rgba(5, 9, 48, 0.07);
}

.about__column-left {
  padding-top: @d40px;
}

.about__features {
  margin-top: @d110px;
  margin-bottom: @d10px;
}

.about__img-wrapper {
  position: relative;

  max-width: 611px;
  max-height: 800px;
  width: @d611px;
  height: @d800px;

  margin-right: @d30px;

  &::after {
    z-index: 1;
    content:'';
    position: absolute;
    bottom: -@d29px;
    right: -@d29px;

    width: 76.4%;
    height: 73.7%;

    border-bottom: @d30px solid #1bbd59;
    border-right: @d30px solid #1bbd59;
    border-radius: 2px;
  }
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 0 0 69px 12px rgba(17, 30, 66, 0.1);
  border-radius: 2px;
}

.about--bottom {
  flex-direction: row-reverse;
  margin-bottom: @d190px;
  .about__img-wrapper {
    margin-right: 0;
    margin-left: @d20px;

    &::after {
      bottom: -@d20px;
      left: -@d18px;
      right: auto;
      width: 28.7%;
      height: 57.2%;
      border-bottom: @d20px solid #1bbd59;
      border-left: @d20px solid #1bbd59;
      border-right: none;
    }
  }
  .about__column-left {
    padding-top: @d98px;
    padding-right: @d21px;
  }
  .intro--about {
    max-width: 816px;
    width: @d816px;
  }
  .intro__description {
    margin-bottom: @d26px;
  }
}

.about {
  & ul:not(.features-block__list) p {
    margin-bottom: 0;
  }

  & ul:not(.features-block__list) {
    margin-top: @d34px;
    margin-bottom: @d34px;
    padding-left: @d38px;
  }

  & li:not(.features-block__item) {
    position: relative;
    margin-bottom: @d10px;

    font-size: @d18px;
    font-weight: 400;
    line-height: @d24px;
    letter-spacing: 0.1px;

    color: #747474;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      // top: @d4px;
      top: @d8px;
      left: -@d36px;

      width: @d16px;
      height: @d6px;

      border: @d2px solid #5a5a5a;
      border-color: #14b250;
      border-top-style: none;
      border-right-style: none;

      transform: rotate(-45deg);
    }
  }
}

.about--detox,
.about--family,
.about--contacts {
  flex-direction: column;
  margin-bottom: @d87px;
  // width: @a;
  &>div,
  h2 {
    margin-bottom: @d48px;

    font-size: @d45px;
    font-weight: 700;
    letter-spacing: 0.23px;

    color: #2f2f2f;
  }
  h3 {
    margin-bottom: @d14px;
    font-size: @d27px;
    line-height: @d29px;
    letter-spacing: 0.14px;
  }
  p {
    margin-bottom: @d25px;
    font-size: @d18px;
    font-weight: 400;
    line-height: @d24px;
    letter-spacing: 0.1px;

    color: #747474;
  }
}

.about--steps {
    p {
      margin-bottom: @d15px;
    }
  }

.about--family {
  // width: 76.56vw; // 1470px
  box-sizing: border-box;
  margin-bottom: @d140px;
  padding-right: @d542px;
  p {
    margin-bottom: @d50px;
    line-height: @d29px;
  }
}

.about--doctor {
  padding-top: @d65px;
  margin-bottom: @d135px;
  .about__column-wrapper {
    justify-content: flex-end;
    padding: @d70px @d40px;
  }
  .about__column-left {
    // max-width: @d900px;
    max-width: @d860px;
    // margin-top: @d70px;
    margin-left: @d47px;
    // margin-bottom: @d70px;
    padding-top: 0;
  }
  .about__column-right {
    display: flex;
    // align-items: center;
  }
  .about__img-wrapper {
    // width: @d600px;
    // height: @d520px;
    width: @d560px;
    height: @d470px;
    // margin-top: @d20px;
    // margin-top: @d70px;
    // margin-bottom: @d20px;
    // margin-left: @d30px;
    // margin-left: @d40px;
    // height: 100%;
    &::after {
      content: none;
    }
  }
  .about__img {
    // border-radius: 30px 0 0 30px;
    border-radius: 30px;
  }
  .main-info__callback {
    width: @d284px;
    height: @d65px;
    margin-bottom: 0;
    font-size: @d16px;
  }
}

.about--page,
.about--clinic-page {
  margin-bottom: @d217px;
  .about__column-left {
    margin-top: @d54px;
  }
  ul,
  ol,
  .intro__description {
    max-width: none;
    width: @d910px;
    margin-bottom: @d34px;
  }
  .about__img-wrapper {
    .mn;
    width: @d487px;
    height: @d650px;
    &::after {
      width: 67%;
      height: 82.4%;
    }
  }
}

@media  (max-width: @mobile-width) {
  .about {
    flex-direction: column;
    margin-bottom: @m206px;
  }

  .about__column-wrapper {
    flex-direction: column-reverse;
    padding: 0;
  }

  .about__column-left {
    margin-bottom: @m16px;
    padding-top: 0;
  }

  .about__features {
    margin-top: @m91px;
  }

  .about__img-wrapper {
    max-width: none;
    max-height: none;
    width: @m654px;
    height: 114.66vw; //860
    margin-right: @m26px;

    &::after {
      bottom: -@m26px;
      right: -@m26px;
      border-bottom: @m27px solid #1bbd59;
      border-right: @m27px solid #1bbd59;
    }
  }

  .about--bottom {
    flex-direction: column-reverse;
    margin-bottom: @m127px;
    .about__column-left {
      margin-bottom: 0;
    }
    .about__img-wrapper {
      width: @m585px;
      height: 104vw; //780
      margin-left: @m51px;
      margin-bottom: @m84px;

      &::after {
        bottom: -@m19px;
        left: -@m19px;
        border-bottom: @m20px solid #1bbd59;
        border-left: @m20px solid #1bbd59;
      }
    }
    .intro--about {
      max-width: none;
      width: @m665px;
    }
    .intro__title {
      margin-bottom: @m33px;
    }
    .intro__description {
      line-height: @m42px;
      margin-bottom: @m42px;
    }
  }

  .about {
    & ul:not(.features-block__list) {
      padding-left: @m49px;
      margin-bottom: @m39px;
    }

    li:not(.features-block__item) {
      margin-bottom: @m30px;
      font-size: @m30px;
      line-height: @m39px;
      letter-spacing: 0.15px;
      &::before {
        top: @m10px;
        left: -@m48px;
        width: @m22px;
        height: @m10px;

        border: @m3px solid #5a5a5a;
        border-color: #14b250;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }

  .about--detox,
  .about--family,
  .about--contacts {
    // margin-bottom: @m155px;
    margin-bottom: @m75px;
    &>div,
    h2 {
      margin-bottom: @m47px;
      font-size: @m45px;
    }
    h3 {
      margin-bottom: @m14px;
      font-size: @m33px;
      line-height: @m29px;
      letter-spacing: 0.17px;
    }
    p {
      margin-bottom: @m39px;
      font-size: @m30px;
      line-height: @m39px;
      letter-spacing: 0.15px;
    }
  }

  .about--steps {
    p {
      margin-bottom: @m39px;
    }
  }

  .about--family {
    width: @a;
    padding-right: @m35px;
  }

  .about--doctor {
    // padding-top: @m98px;
    padding-top: @m300px;
    margin-bottom: @m275px;
    .about__column-wrapper {
      padding: 0;
      // .padding-inline(0);
      .margin-inline(@m35px);
    }
    .about__column-left {
      max-width: none;
      margin-top: @m30px;
      margin-left: 0;
      margin-bottom: @m75px;
      .padding-inline(@m35px);
    }
    .about__img-wrapper {
      width: 100%;
      // height: @m745px;
      height: @m545px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .about__img {
      border-radius: 30px 30px 0 0;
    }
    .main-info__callback {
      width: @m470px;
      height: @m75px;
      font-size: @m27px;
    }
  }

  .about--page,
  .about--clinic-page {
    margin-bottom: @m193px;
    .about__column-left {
      margin-top: 0;
    }
    .intro--about-page {
      margin-bottom: @m90px;
    }

    .intro__title {
      margin-bottom: @m40px;
    }
    ul,
    ol,
    .intro__description {
      max-width: none;
      width: @a;
      margin-bottom: @m40px;
    }
    .about__img-wrapper {
      width: @m500px;
      height: @m650px;
      .margin-inline(@a);
      &::after {
        width: 67%;
        height: 82.4%;
      }
    }
  }
}

@media (min-width: @max-desktop-width) {
  .about {
    margin-bottom: 231px;
  }

  .about__column-left {
    padding-top: 40px;
  }

  .about__features {
    margin-top: 110px;
    margin-bottom: 10px;
  }

  .about__img-wrapper {
    margin-right: 30px;

    &::after {
      bottom: -29px;
      right: -29px;
      border-bottom: 30px solid #1bbd59;
      border-right: 30px solid #1bbd59;
    }
  }

  .about {
    & ul:not(.features-block__list) p {
      margin-bottom: 0;
    }

    & ul:not(.features-block__list) {
      margin-top: 34px;
      margin-bottom: 34px;
      padding-left: 38px;
    }

    & li:not(.features-block__item) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 24px;

      &::before {
        top: 8px;
        left: -36px;

        width: 16px;
        height: 6px;

        border: 2px solid #5a5a5a;
        border-color: #14b250;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }

  .about--detox,
  .about--family,
  .about--contacts {
    margin-bottom: 87px;
    // width: @a;
    &>div,
    h2 {
      margin-bottom: 48px;
      font-size: 45px;
    }
    h3 {
      margin-bottom: 14px;
      font-size: 27px;
      line-height: 29px;
    }
    p {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .about--steps {
    p {
      margin-bottom: 15px;
    }
  }

  .about--family {
    // width: 1470px;
    margin-bottom: 140px;
    padding-right: 542px;
    p {
      margin-bottom: 50px;
      line-height: 29px;
    }
  }

  .about--bottom {
    margin-bottom: 190px;

    .about__img-wrapper {
      margin-right: 0px;
      margin-left: 20px;

      &::after {
        bottom: -20px;
        left: -18px;

        border-bottom: 20px solid #1bbd59;
        border-left: 20px solid #1bbd59;
      }
    }
    .about__column-left {
      padding-top: 98px;
      padding-right: 21px;
    }
    .intro__description {
      margin-bottom: 26px;
    }
  }

  .about--detox {
    margin-bottom: 87px;
  }

  .about--doctor {
    padding-top: 65px;
    margin-bottom: 135px;
    .about__column-wrapper {
      padding: 70px 40px;
    }
    .about__column-left {
      // max-width: 900px;
      max-width: 860px;
      // margin-top: 70px;
      // margin-bottom: 70px;
      margin-left: 47px;
    }
    .about__img-wrapper {
      // width: 600px;
      // height: 520px;
      width: 560px;
      height: 470px;
      // margin-top: 20px;
      // margin-top: 70px;
      // margin-left: 30px;
      // margin-left: 40px;
      // margin-bottom: 20px;
    }
    .main-info__callback {
      width: 284px;
      height: 65px;
      font-size: 16px;
    }
  }

  .about--page,
  .about--clinic-page {
    margin-bottom: 217px;
    .about__column-left {
      margin-top: 54px;
    }
    ul,
    ol,
    .intro__description {
      max-width: none;
      width: 910px;
      margin-bottom: 34px;
    }
    .about__img-wrapper {
      .mn;
      width: 487px;
      height: 650px;
      &::after {
        width: 67%;
        height: 82.4%;
      }
    }
  }
}
