.about {
  display: flex;
  justify-content: space-between;
  margin-top: 10.57291vw;
  margin-bottom: 12.03125vw;

  &--bottom {
    flex-direction: row-reverse;
    margin-top: 7.55vw;
    margin-bottom: 9.8958vw;

    .about__img-wrapper {
      margin-right: 0;
      margin-left: 1.041vw;

      &::after {
        bottom: -1.041vw;
        left: -1.041vw;
        right: auto;
        width: 28.7%;
        height: 57.2%;
        border-bottom: 1.041vw solid #1bbd59;
        border-left: 1.041vw solid #1bbd59;
        border-right: none;
      }
    }

    .about__column-left {
      padding-top: 5.10416vw;
      padding-right: 1.093vw;
    }

    .intro--about {
      max-width: 816px;
      width: 42.5vw;
    }

    .intro__description {
      margin-bottom: 1.3541vw;
    }
  }
}

.about__column-left {
  padding-top: 2.083333vw;
}

.about__features {
  margin-top: 5.7291vw;
  margin-bottom: 0.5208vw;
}

.about__img-wrapper {
  position: relative;

  max-width: 611px;
  max-height: 803px;
  width: 31.6vw;
  height: 41.6vw;

  margin-right: 1.5625vw;

  &::after {
    z-index: 1;
    content:'';
    position: absolute;
    bottom: -1.51041vw;
    right: -1.51041vw;

    width: 76.4%;
    height: 73.7%;

    border-bottom: 1.5625vw solid #1bbd59;
    border-right: 1.5625vw solid #1bbd59;
    border-radius: 2px;
  }
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 0 0 69px 12px rgba(17, 30, 66, 0.1);
  border-radius: 2px;
}

@media (min-width: @max-desktop-width) {
  .about {
    margin-top: 203px;
    margin-bottom: 231px;
  }

  .about__column-left {
    padding-top: 40px;
  }

  .about__features {
    margin-top: 110px;
    margin-bottom: 10px;
  }

  .about__img-wrapper {
    margin-right: 30px;

    &::after {
      bottom: -29px;
      right: -29px;
      border-bottom: 30px solid #1bbd59;
      border-right: 30px solid #1bbd59;
    }
  }

  .about--bottom {
    margin-top: 145px;
    margin-bottom: 190px;

    .about__img-wrapper {
      margin-right: 0px;
      margin-left: 20px;

      &::after {
        bottom: -20px;
        left: -20px;

        border-bottom: 20px solid #1bbd59;
        border-left: 20px solid #1bbd59;
      }
    }
    .about__column-left {
      padding-top: 98px;
      padding-right: 21px;
    }
    .intro__description {
      margin-bottom: 26px;
    }
  }
}
