.article-author {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  margin-bottom: @d192px;
  padding-top: @d48px;
  padding-left: @d50px;
  padding-right: @d68px;
  padding-bottom: @d35px;

  box-shadow: 0 0 55px 5px rgba(11, 13, 65, 0.04);
  border-radius: 19px;
  background-color: #ffffff;
}

.article-author__column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: @d150px;
  padding-top: @d15px;
}

.article-author__block {
  margin-bottom: @d46px;
}

.article-author__link {
  font-size: @d19px;
  letter-spacing: 0.1px;
  color: #2f2f2f;
}

a.article-author__link {
  text-decoration: underline;
}

.article-author__link p,
.article-author__text-wrapper p {
// .article-author__post {
  margin-bottom: @d9px;

  font-size: @d18px;
  letter-spacing: 0.09px;
  &--mobile {
    display: none;
  }
}

.article-author__link h3,
.article-author__link h2 {
// .article-author__name {
  font-size: @d25px;
  font-weight: 700;
  letter-spacing: 0.13px;
  // text-decoration: underline;
}

.article-author__column-right {
  box-sizing: border-box;
  width: @d825px;
  h2 {
  // .article-author__name {
    margin-bottom: @d19px;
    text-decoration: none;
  }
  .article-author__link {
    text-decoration: underline;
  }
}

.article-author__column-right > p {
// .article-author__description {
  width: @d750px;
  margin-bottom: @d22px;

  font-size: @d19px;
  line-height: @d26px;
  letter-spacing: 0.1px;
  color: #2f2f2f;
}

.article-author__wrapper {
  display: flex;
}

.article-author__img-wrapper {
  width: @d145px;
  height: @d135px;
  border-radius: 19px;
}

.article-author__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 19px;
}

.article-author__text-wrapper {
  box-sizing: border-box;
  padding-top: @d10px;
  padding-left: @d29px;
}

@media (max-width: @mobile-width) {
  .article-author {
    flex-direction: column;

    margin-bottom: @m182px;
    padding-top: @m74px;
    padding-left: @m34px;
    padding-right: @m25px;
    padding-bottom: @m80px;
  }

  .article-author__column-left {
    flex-direction: column;
    width: @a;
    margin-bottom: @m78px;
    padding-top: 0;
    .article-author__block:last-child {
      margin-bottom: 0;
    }
  }

  .article-author__block {
    margin-bottom: @m46px;
  }

  .article-author__link {
    font-size: @m27px;
    letter-spacing: 0px;
  }

  .article-author__link p,
  .article-author__text-wrapper p {
  // .article-author__post {
    margin-bottom: @m10px;

    font-size: @m27px;
    letter-spacing: 0.14px;
    // &--desk {
    //   display: none;
    // }
    // &--mobile {
    //   display: block;
    //   margin-bottom: @m6px;
    // }
  }

  .article-author__post {
    &--desk {
      display: none;
    }
    &--mobile {
      display: block;
      margin-bottom: @m6px;
    }
  }

  .article-author__link h3,
  .article-author__link h2 {
  // .article-author__name {
    font-size: @m33px;
    letter-spacing: 0.17px;
  }

  .article-author__column-right {
    width: @a;
    h2 {
    // .article-author__name {
      margin-bottom: @m16px;
    }
  }

  .article-author__column-right > p {
  // .article-author__description {
    width: @m590px;
    margin-bottom: @m50px;

    font-size: @m30px;
    line-height: @m38px;
    letter-spacing: 0;
    hyphens: auto;

    // display: none;
  }

  .article-author__wrapper {
    display: flex;
  }

  .article-author__img-wrapper {
    width: @m127px;
    height: @m115px;
  }

  .article-author__text-wrapper {
    padding-top: 0px;
    padding-left: @m32px;
  }
}

@media (min-width: @max-desktop-width) {
  .article-author {
    margin-bottom: 192px;
    padding-top: 48px;
    padding-left: 50px;
    padding-right: 68px;
    padding-bottom: 35px;
  }

  .article-author__column-left {
    width: 150px;
    padding-top: 15px;
  }

  .article-author__block {
    margin-bottom: 46px;
  }

  .article-author__link {
    font-size: 19px;
  }

  .article-author__link p,
  .article-author__text-wrapper p {
  // .article-author__post {
    margin-bottom: 9px;
    font-size: 18px;
  }

  .article-author__link h3,
  .article-author__link h2 {
  // .article-author__name {
    font-size: 25px;
  }

  .article-author__column-right {
    width: 825px;
    h2 {
    // .article-author__name {
      margin-bottom: 19px;
    }
  }

  .article-author__column-right > p {
  // .article-author__description {
    width: 750px;
    margin-bottom: 22px;
    font-size: 19px;
    line-height: 26px;
  }

  .article-author__img-wrapper {
    width: 145px;
    height: 135px;
  }

  .article-author__text-wrapper {
    padding-top: 10px;
    padding-left: 29px;
  }
}
