.comments {
  margin-bottom: 192px;
}

.comments__title {
  margin-bottom: 45px;
  font-size: 45px;
  letter-spacing: 0.23px;
}

.comments__count {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #747474;
}

.comments__content {
}

.comments__block {
  width: 780px;
  margin-bottom: 62px;
  // .bred;
}

.comments__name {
  display: inline-block;
  margin-bottom: 12px;

  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.11px;
}

.comments__datetime {
  margin-left: 25px;
  font-size: 17px;
  letter-spacing: 0.09px;
  color: #747474;
}

.comments__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.09px;
}

.comments__subtitle {
  margin-bottom: 20px;

  font-size: 25px;
  letter-spacing: 0.13px;
}

.comments__form {
  box-sizing: border-box;
  width: 530px;
  // .bred;
}

.comments__form-name,
.comments__form-text {
  width: 100%;
  margin-bottom: 35px;

  font-size: 19px;
  line-height: 35px;
  letter-spacing: 0.1px;

  color: #c9c8cf;

  border: none;
  border-bottom: 1px solid #e5e6ec;
}

.comments__form-name:focus,
.comments__form-text:focus {
  color: #747474;
  border-bottom: 1px solid rgba(116,116,116,0.4);
}

.comments__btn {
  width: 220px;
  height: 45px;
  border-radius: 23px;
}
