/* в баллуне */
.address-card-btn {
  text-decoration: underline;
  color: #20b659;
}

.contacts-map {
  // margin-bottom: @d120px;
  margin-bottom: @d65px;
}

.contacts-map__title {
  margin-bottom: @d40px;

  font-size: @d45px;
  font-weight: 700;
  letter-spacing: 0.23px;
}

.contacts-map__description {
  width: @d870px;
  margin-bottom: @d68px;

  font-size: @d19px;
  line-height: @d29px;
  letter-spacing: 0.1px;
}

.contacts-map__container {
  border-radius: 28px;
}

.contacts-map__filter-container {
  display: flex;
  justify-content: space-between;
  // align-items: center;

  margin-bottom: @d65px;
  padding-top: @d39px;
  .padding-inline(@d60px);
  padding-bottom: @d39px;

  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
  border-radius: 74px;
}

.contacts-map__filter-handler {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  height: @d74px;
  .padding-inline (@d35px);

  font-size: @d18px;
  font-weight: 400;
  line-height: @d34px;
  letter-spacing: 0.09px;
  color: #747474;

  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
  border-radius: 28px;
  background-color: #ffffff;

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;

    width: @d12px;
    height: @d2px;
    background-color: #1ab455;

    transition-duration: 0.5s;
    transition-property: transform;

    border-radius: 20px;
  }

  &::before {
    right: @d35px;
    transform: rotate(-45deg);
  }

  &::after {
    right: @d43px;
    transform: rotate(45deg);
  }

  &.active {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.contacts-map__filter-options {
  position: relative;
  width: @d391px;
  border-radius: 28px;
  &--tariffs {
    width: @d377px;
    .contacts-map__filter-list {
      width: @d377px;
    }
  }
}

.contacts-map__input {
  position: absolute;
  z-index: 20;
  &:focus {
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;
  }
}

.contacts-map__filter-list {
  display: none;
  position: absolute;
  z-index: 20;
  box-sizing: border-box;

  max-height: @d224px;
  overflow-y: scroll;

  width: @d391px;
  margin-top: @d20px;
  padding-top: @d12px;
  .padding-inline (@d35px);
  padding-bottom: @d12px;

  font-size: @d18px;
  font-weight: 400;
  line-height: @d34px;
  letter-spacing: 0.09px;
  color: #747474;

  box-shadow: 0 10px 75px 17px rgba(5, 9, 48, 0.04);
  border-radius: 28px;
  background-color: #ffffff;
}

.contacts-map__filter-list-item:not(:last-child) {
  margin-bottom: @d8px;
}

.contacts-map__filter-item {
  display: block;
  color: #747474;
}

.contacts-map__filter-range {
  box-sizing: border-box;

  width: @d452px;
  height: @d74px;
  padding-top: @d16px;
  .padding-inline (@d35px);

  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
  border-radius: 28px;
  background-color: #ffffff;
}

.contacts-map__toggle-wrapper {
  position: relative;
  display: flex;
  width: 95%;
  margin-bottom: @d9px;

  &::before,
  &::after {
    position: absolute;
    content: '₽';
    font-size: @d18px;
  }

  &::before {
    // right: -20px;
    right: -5%;
  }

  &::after {
    left: 17%;
  }
}

.contacts-map__toggle {
  display: inline-block;

  min-width: 0;
  font-size: @d18px;
  font-weight: 400;
  letter-spacing: 0.09px;

  color: #747474;
  cursor: pointer;
  border: none;

  &--max {
    text-align: right;
  }
}

.contacts-map__btn {
  width: @d209px;
  height: @d74px;

  border-radius: 37px;
  background-color: #14b250;
}

.contacts-map__btn-text {
  position: relative;
  padding-left: @d22px;

  &::before {
    content: '';
    position: absolute;
    top: -@d2px;
    left: -@d10px;
    width: @d23px;
    height: @d23px;

    background-image: url('../img/svg/search-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.ui-slider {
  position: relative;
  height: @d4px;
}
// ползунки
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;

  cursor: default;
  -ms-touch-action: none;
  touch-action: none;

  width: @d16px;
  height: @d17px;
  border: @d2px solid #e2e3ea;
  background-color: #14b250;
  border-radius: 50%;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -@d8px;
  margin-left: -@d10px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget.ui-widget-content {
  // border: 1px solid #c5c5c5;
}
// полоска внешняя
.ui-widget-content {
  border: none;
  background-color: #f4f5f9;
}
.ui-widget-header {
  border: none;
  background-color: #14b250;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: @d1px solid #14b250;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;

  outline: none;
    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;
}
.ui-corner-all {
  border-radius: 3px;
}

.contacts-map__wrapper {
  position: relative;

  width: 100%;
  height: @d604px;

  overflow: hidden;

  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
  border-radius: 28px;
}

// map controls
.ymaps-2-1-75-zoom {
  height: @d49px!important;
}

.ymaps-2-1-75-zoom__plus,
.ymaps-2-1-75-zoom__minus {
  width: @d45px!important;
  height: @d45px!important;

  border-radius: 50%!important;
  box-shadow: 0 0 87px rgba(2, 7, 32, 0.15)!important;
  background-color: #ffffff!important;

  .ymaps-2-1-75-float-button-icon {
    background-image: none!important;
  }

  .ymaps-2-1-75-float-button-icon::before,
  .ymaps-2-1-75-float-button-icon::after {
    content: ''!important;
    position: absolute;
    top: 50%!important;
    transform: translateY(-50%)!important;

    width: 100%!important;
    height: @d4px!important;

    background-color: #e0e1e8!important;
  }
}

.ymaps-2-1-75-zoom__plus {
  .ymaps-2-1-75-float-button-icon::after {
    left: 50%!important;
    transform: translate(-50%, -50%)!important;

    height: 100%!important;
    width: @d4px!important;
  }
}

.ymaps-2-1-75-float-button-icon {
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}

.ymaps-2-1-75-zoom__scale {
  display: none;
}

.contacts-map__local-container {
  box-sizing: border-box;

  position: relative;
  top: -@d78px;

  height: @d480px;

  padding-top: @d44px;
  padding-left: @d200px;
  padding-right: @d185px;
  padding-bottom: @d95px;

  box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.04);
  border-radius: 19px;
  background-color: #ffffff;
}

.contacts-map__local-link {
  position: relative;

  display: inline-block;
  margin-bottom: @d40px;
  padding-left: @d43px;

  font-size: @d19px;
  font-weight: 700;
  line-height: @d63px;
  letter-spacing: 0.1px;
  text-decoration: underline;

  color: #14b250;

  &::before {
    content: '';
    position: absolute;

    top: @d14px;
    left: 0;

    width: @d26px;
    height: @d33px;

    background-image: url('../img/svg/point-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.contacts-map__list {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-map__item {
  width: @d300px;
  margin-right: @d150px;
  margin-bottom: @d60px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.contacts-map__category {
  margin-bottom: @d24px;

  font-size: @d25px;
  font-weight: 700;
  letter-spacing: 0.13px;
}

.contacts-map__link {
  display: block;
}

.contacts-map__city,
.contacts-map__street,
.contacts-map__number,
.contacts-map__mail {
  display: block;
  margin-bottom: @d3px;

  font-size: @d19px;
  font-weight: 400;
  letter-spacing: 0.1px;

  color: #747474;
}

@media (max-width: @mobile-width) {

  .contacts-map {
    margin-bottom: @m86px;
  }

  .contacts-map__title {
    margin-bottom: @m38px;
    font-size: @m45px;
    letter-spacing: 0.23px;
    line-height: @m58px;
  }

  .contacts-map__description {
    width: @m640px;
    margin-bottom: @m90px;

    font-size: @m30px;
    line-height: @m38px;
    letter-spacing: 0.15px;
  }

  .contacts-map__filter-container {
    flex-direction: column;
    align-items: stretch;

    margin-bottom: @m90px;
    padding-top: @m100px;
    .padding-inline(@m23px);
    padding-bottom: @m100px;

    border-radius: 20px;
  }

  .contacts-map__filter-handler {
    height: @m92px;
    margin-bottom: @m48px;
    .padding-inline (@m50px);

    font-size: @m30px;
    line-height: @m34px;
    letter-spacing: 0.14px;

    border-radius: 46px;
    &::before,
    &::after {
      top: @m38px;
      width: @m20px;
      height: @m3px;
    }
    &::before {
      right: @m52px;
    }
    &::after {
      right: @m64px;
    }
  }

  .contacts-map__filter-options {
    width: @a;
    border-radius: 38px;
    &--tariffs {
      width: @a;
      .contacts-map__filter-list {
        width: 100%;
      }
    }
  }

  .contacts-map__filter-list {
    // top: @m110px;
    max-height: 224px;
    width: 100%;
    margin-top: 0;
    margin-bottom: @m48px;
    padding-top: @m30px;
    .padding-inline (@m50px);
    padding-bottom: @m30px;

    font-size: @m30px;
    line-height: @m34px;
    letter-spacing: 0.14px;

    // border-radius: 46px;
    border-radius: 28px;
  }

  .contacts-map__filter-list-item:not(:last-child) {
    margin-bottom: @m30px;
  }

  .contacts-map__filter-range {
    width: @a;
    // height: @m127px;
    height: @a;
    margin-bottom: @m48px;
    padding-top: @m25px;
    .padding-inline (@m50px);
    padding-bottom: @m55px;

    border-radius: 64px;

    // @media (max-width: 410px) {
    //   height: @m150px;
    //   border-radius: 24px;
    // }
  }

  .contacts-map__toggle-wrapper {
    margin-bottom: @m23px;

    &::before,
    &::after {
      font-size: @m30px;
    }
  }

  .contacts-map__toggle {
    font-size: @m30px;
    letter-spacing: 0.15px;
  }

  .contacts-map__btn {
    width: 100%;
    height: @m92px;

    border-radius: 46px;
    background-color: #14b250;
  }

  .contacts-map__btn-text {
    padding-left: @m68px;
    &::before {
      top: -@m4px;
      left: @m4px;
      width: @m35px;
      height: @m35px;
    }
  }

  .ui-slider {
    height: @m4px;
  }

  .ui-slider .ui-slider-handle {
    width: @m26px;
    height: @m26px;
    border: @m2px solid #e2e3ea;
  }

  .ui-slider-horizontal .ui-slider-handle {
    top: -@m12px;
    margin-left: 0px;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus,
  .ui-button:hover,
  .ui-button:focus {
    border: @m2px solid #14b250;
  }
  .ui-corner-all {
    border-radius: 3px;
  }

  .contacts-map__wrapper {
    height: @m680px;
  }

  .ymaps-2-1-75-zoom {
    height: 35px!important;
    @media (max-width: 310px) {
      height: @m75px!important;
    }
  }

  .ymaps-2-1-75-zoom__plus,
  .ymaps-2-1-75-zoom__minus {
    width: @m45px!important;
    height: @m45px!important;
    .ymaps-2-1-75-float-button-icon::before,
    .ymaps-2-1-75-float-button-icon::after {
      height: @m4px!important;
    }
    @media (max-width: 420px) {
      width: 35px!important;
      height: 35px!important;
    }
  }

  .ymaps-2-1-75-zoom__plus {
    .ymaps-2-1-75-float-button-icon::after {
      // left: 50%!important;
    // transform: translate(-50%, -50%)!important;

      height: 100%!important;
      width: @m4px!important;
    }
  }

  .contacts-map__local-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    // top: -@m120px;
    top: @m30px;
    // height: @m375px;
    // height: @m587px;
    height: 107.33vw; //805px;
    padding-top: @m40px;
    .padding-inline(@m35px);
    padding-bottom: @m25px;
  }

  .contacts-map__local-link {
    margin-bottom: @m40px;
    padding-left: @m60px;

    font-size: @m32px;
    line-height: normal;
    letter-spacing: 0.16px;
    &::before {
      top: -@m2px;
      left: -@m8px;
      width: @m42px;
      height: @m52px;
    }
  }

  .contacts-map__list {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    // flex-direction: column;
    // flex-wrap: nowrap;
  }

  .contacts-map__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    // width: @a;
    width: 100%;
    margin-right: 0;
    margin-bottom: @m59px;
  }

  .contacts-map__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-map__category {
    margin-bottom: @m36px;

    font-size: @m32px;
    letter-spacing: 0.16px;
    text-align: center;
  }

  .contacts-map__city,
  .contacts-map__street,
  .contacts-map__number,
  .contacts-map__mail {
    margin-bottom: @m5px;

    font-size: @m30px;
    letter-spacing: 0.15px;
  }
}

@media (min-width: @max-desktop-width) {
  .contacts-map {
    // margin-bottom: 120px;
    margin-bottom: 65px;
  }

  .contacts-map__title {
    margin-bottom: 40px;

    font-size: 45px;
  }

  .contacts-map__description {
    width: 870px;
    margin-bottom: 68px;
    font-size: 19px;
    line-height: 29px;
  }

  .contacts-map__filter-container {
    margin-bottom: 65px;
    padding-top: 39px;
    .padding-inline(60px);
    padding-bottom: 39px;
  }

  .contacts-map__filter-handler {
    height: 74px;
    .padding-inline (35px);
    font-size: 18px;
    line-height: 34px;
    &::before,
    &::after {
      width: 12px;
      height: 2px;
    }
    &::before {
      right: 35px;
    }
    &::after {
      right: 43px;
    }
  }

  .contacts-map__filter-options {
    width: 391px;
    border-radius: 28px;
    &--tariffs {
      width: 377px;
      .contacts-map__filter-list {
        width: 377px;
      }
    }
  }

  .contacts-map__filter-list {
    width: 391px;
    max-height: 224px;
    margin-top: 20px;
    padding-top: 12px;
    .padding-inline (35px);
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 34px;
  }

  .contacts-map__filter-list-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .contacts-map__filter-range {
    width: 452px;
    height: 74px;
    padding-top: 16px;
    .padding-inline (35px);
  }

  .contacts-map__toggle-wrapper {
    margin-bottom: 9px;
    &::before,
    &::after {
      font-size: 18px;
    }
  }

  .contacts-map__toggle {
    font-size: 18px;
  }

  .contacts-map__btn {
    width: 209px;
    height: 74px;
  }

  .contacts-map__btn-text {
    padding-left: 22px;
    &::before {
      top: -2px;
      left: -10px;
      width: 23px;
      height: 23px;
    }
  }

  .ui-slider {
    height: 4px;
  }

  .ui-slider .ui-slider-handle {
    width: 16px;
    height: 17px;
    border: 2px solid #e2e3ea;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: -10px;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus,
  .ui-button:hover,
  .ui-button:focus {
    border: 1px solid #cccccc;
  }

  .contacts-map__wrapper {
    width: 100%;
    height: 604px;
  }

  .ymaps-2-1-75-zoom {
    height: 49px!important;
  }

  .ymaps-2-1-75-zoom__plus,
  .ymaps-2-1-75-zoom__minus {
    width: 45px!important;
    height: 45px!important;

    .ymaps-2-1-75-float-button-icon::before,
    .ymaps-2-1-75-float-button-icon::after {
      height: 4px!important;
    }
  }

  .ymaps-2-1-75-zoom__plus {
    .ymaps-2-1-75-float-button-icon::after {
      width: 4px!important;
      height: 100%!important;
    }
  }

  .contacts-map__local-container {
    top: -78px;
    height: 480px;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 185px;
    padding-bottom: 95px;
  }

  .contacts-map__local-link {
    margin-bottom: 40px;
    padding-left: 43px;
    font-size: 19px;
    line-height: 63px;

    &::before {
      top: 14px;
      left: 0;
      width: 26px;
      height: 33px;
    }
  }

  .contacts-map__category {
    margin-bottom: 24px;
    font-size: 25px;
  }

  .contacts-map__item {
    width: 300px;
    margin-right: 150px;
    margin-bottom: 60px;
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
  }

  .contacts-map__city,
  .contacts-map__street,
  .contacts-map__number,
  .contacts-map__mail {
    margin-bottom: 3px;
    font-size: 19px;
  }
}
