.database-search {
  display: flex;
  flex-direction: column;
  align-items: center;

  // margin-bottom: @d251px;
  margin-bottom: @d100px;
}

.database-search__title {
  font-size: @d45px;
  font-weight: 700;
  letter-spacing: 0.23px;
}

.database-search__form-wrapper {
  // margin-bottom: @d200px;
  margin-bottom: @d99px;
}

.database-search__form {
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1342px;
  max-height: 90px;
  width: 69.89vw;
  height: @d90px;

  margin-top: @d37px;
  padding-left: @d55px;

  border-radius: 45px;
  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
}

.database-search__input {
  max-width: none;
  width: 80%;
  padding-left: @d65px;

  font-size: @d27px;
  font-weight: 400;
  letter-spacing: 0.14px;

  color: #747474;
  background-color: transparent;
  border: none;

    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;

  outline: none;
}

.database-search__icon-btn {
  position: absolute;
  top: 50%;
  left: 4.4%;
  width: @d32px;
  height: @d32px;

  transform: translateY(-50%);

  border: none;
  background-color: transparent;
  background-image: url("../img/svg/search-gray.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.database-search__btn {
  max-width: 220px;
  width: @d220px;
  max-height: none;
  height: 100%;

  font-size: @d27px;
  text-transform: none;
  border: none;
  border-radius: 45px;
}

.database-search__list-toggle {
  display: none;
}

.database-search__list {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;

  // max-height: 250px;
  // height: @d250px;
}

.database-search__item {
  width: @d215px;
  height: @d112px;

  margin-right: @d17px;
  margin-bottom: @d15px;

  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.04);
  border-radius: 19px;

  &:nth-child(7n) {
    margin-right: 0;
  }
}

.database-search__link {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
  padding-top: @d61px;

  color: #2f2f2f;

  font-size: @d17px;
  font-weight: 400;
  letter-spacing: 0.09px;
  border-radius: 19px;
}

.active.database-search__link {
  color: #fff;
  background-color: #14b250;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.7);
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    .database-search__img--white {
      opacity: 0.5;
    }
  }

  .database-search__picture {
    visibility: hidden;
  }

  .database-search__img--white {
    visibility: visible;
  }
}

.database-search__img {
  position: absolute;
  top: 20%;
  left: 50%;
  width: @d30px;
  height: @d30px;
  transform: translateX(-50%);
  &--white {
    visibility: hidden;
  }
}

@media (max-width: @mobile-width) {
  .database-search {
    margin-bottom: @m172px;
  }

  .database-search__title {
    margin-bottom: @m30px;
    font-size: @m45px;
  }

  .database-search__form-wrapper {
    margin-bottom: @m61px;
  }

  .database-search__form {
    .mn();
    width: @m680px;
    height: @m90px;

    box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.06);
    background-color: #fff;
  }

  .database-search__input {
    width: 70%;
    padding-left: @m88px;

    font-size: @m30px;
    line-height: @m50px;
  }

  .database-search__icon-btn {
    left: 4.9%;
    width: @m37px;
    height: @m37px;
  }

  .database-search__btn {
    width: @m153px;;
    font-size: @m27px;
  }

  .database-search__list-toggle {
    position: relative;

    display: flex;
    justify-content: flex-start;
    width: @m679px;
    height: @m90px;
    padding-left: @m109px;

    font-size: @m30px;
    text-transform: none;
    box-shadow: 0 0 @m55px 5px rgba(5, 9, 48, 0.04);
    border-radius: 45px;

    cursor: pointer;

    &:active {
      padding-left: @m109px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: @m42px;

      width: @m30px;
      height: @m5px;
      background-color:#fff;

      transition-duration: 1s;
      transition-property: transform;

      border-radius: 20px;
    }

    &::before {
      right: @m51px;
      transform: rotate(-45deg);
    }

    &::after {
      // right: @m40px;
      // width: @m70px;
      // height: @m52px;
      // background-image: url('../img/svg/arrow-m-white.svg');
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: cover;

      // transition-duration: 1s;
      // transition-property: transform;
      right: @m70px;
      transform: rotate(45deg);
    }
  }

  .active.database-search__list-toggle {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      // transform: rotateX(210deg);
      transform: rotate(-45deg);
    }
  }

  .database-search__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    left: @m35px;

    width: @m38px;
    height: @m26px;
  }

  .database-search__close-btn span {
    height: @m3px;
    background: #fff;
    transition: 0.1s 0.1s;
    border-radius: 3px;
  }

  .active.database-search__close-btn span {
    background-color: transparent;
  }

  .database-search__close-btn::before,
  .database-search__close-btn::after {
    height: @m3px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s 0.3s, transform 0.3s;
  }

  .database-search__close-btn::before {
    top: 0;
  }

  .database-search__close-btn::after {
    top: @m22px;
  }

  .active.database-search__close-btn::before {
    transform: rotate3d(0, 0, 1, -45deg);
    transition: 0.3s, transform 0.3s 0.3s;
    top: @m10px;
  }

  .active.database-search__close-btn::after {
    transform: rotate3d(0, 0, 1, 45deg);
    transition: 0.3s, transform 0.3s 0.3s;
    top: @m10px;
  }

  .database-search__list {
    display: none;
  }

  .database-search__list--nojs,
  .active.database-search__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    max-height: none;
    height: auto;
    // height: 173.33vw; //1300px

    margin-top: @m40px;
    padding-top: @m30px;
    padding-bottom: @m30px;

    box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.06);
    border-radius: 37px;
    background-color: #fff;
    @media (max-width: 380px) {
      border-radius: 20px;
    }
  }

  .database-search__item {
    width: 100%;
    height: @m80px;

    margin-right: 0;
    margin-bottom: 0;

    text-align: left;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0;
  }

  .database-search__item:first-child {
    border-radius: 37px 37px 0 0;
    @media (max-width: 380px) {
      border-radius: 20px 20px 0 0;
    }
  }

  .database-search__item:last-child {
    border-radius: 0 0 37px 37px;
    @media (max-width: 380px) {
      border-radius: 0 0 20px 20px;
    }
  }

  .database-search__link {
    box-sizing: border-box;
    position: relative;

    display: flex;
    align-items: center;

    padding-top: 0;
    padding-left: @m116px;
    padding-right: @m40px;


    font-size: @m33px;
    font-weight: 400;
    letter-spacing: 0.09px;
    color: #2f2f2f;

    border-radius: 0;
  }

  .database-search__img {
    position: absolute;
    top: 20%;
    left: 9%;
    width: @m40px;
    height: @m40px;
    transform: translateX(-50%);
  }
}

@media  (min-width: @max-desktop-width) {

  .database-search {
    // margin-bottom: 251px;
    margin-bottom: 100px;
  }

  .database-search__title {
    font-size: 45px;
  }

  .database-search__form-wrapper {
    // margin-bottom: 200px;
    margin-bottom: 99px;
  }

  .database-search__form {
    margin-top: 37px;
    padding-left: 55px;
  }

  .database-search__icon-btn {
    width: 32px;
    height: 32px;
  }

  .database-search__input {
    padding-left: 65px;
    font-size: 27px;
  }

  .database-search__btn {
    font-size: 27px;
  }

  .database-search__item {
    width: 215px;
    height: 112px;
    margin-right: 17px;
    margin-bottom: 15px;
  }

  .database-search__link {
    padding-top: 61px;
    font-size: 17px;
  }

  .database-search__img {
    width: 30px;
    height: 30px;
  }
}
