.database-preview {
  margin-bottom: @d50px;
  margin-bottom: @d145px;
}

.database-preview__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: @d71px;
}

.database-preview__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.database-preview__item {
  box-sizing: border-box;
  display: flex;

  max-width: 785px;
  width: @d785px;
  margin-bottom: @d50px;

  box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.04);
  border-radius: 19px;
  background-color: #ffffff;

  &:hover,
  &:focus {
    box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.07);
  }

  &:active {
    box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.15);
  }
}

.database-preview__img-wrapper {
  max-width: 203px;
  width: @d203px;
}

.database-preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 19px 0 0 19px;
}

@media  (max-width: @mobile-width) {

  .database-preview {
    margin-bottom: @m119px;
  }

  .database-preview__list.container {
    .margin-inline(0);
  }

  .database-preview__list {
    overflow-x: scroll;

    // height: 76.4vw;
    margin-top: @m22px;
    padding-top: @m20px;
    padding-bottom: @m10px;
  }

  .database-preview__row {
    width: 184.666vw; //1381px;
    margin-bottom: @m50px;
  }

  .database-preview__item {
    box-sizing: border-box;
    max-width: none;
    width: @m660px;
    // height:31.46vw;
    margin-right: @m30px;
    margin-bottom: 0;
  }

  .database-preview__img-wrapper {
    max-width: none;
    width: @m182px;
  }
}

@media (min-width: @max-desktop-width) {

  .database-preview {
    margin-bottom: 50px;
    margin-bottom: 145px;
  }

  .database-preview__list {
    margin-top: 71px;
  }

  .database-preview__item {
    width: 785px;
    margin-bottom: 50px;
  }
}
