.database-preview {
  margin-bottom: 2.6040vw;
}

.database-preview__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 3.6875vw;
}

.database-preview__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.database-preview__item {
  box-sizing: border-box;
  display: flex;

  max-width: 785px;
  width: 40.8854vw;
  margin-bottom: 2.6040vw;

  box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.04);
  border-radius: 19px;
  background-color: #ffffff;
}

// .database-preview__link {
//   display: flex;
// }

.database-preview__img-wrapper {
  max-width: 203px;
  width: 10.57vw;
}

.database-preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 19px 0 0 19px;
}

@media  (max-width: @mobile-width) {

  .database-preview {
    margin-bottom: 0;
  }

  .database-preview__list.container {
    .margin-inline(0);
  }

  .database-preview__list {
    overflow-x: scroll;

    height: 76.4vw;
    padding-top: @m20px;
    padding-bottom: @m10px;
    margin-top: 2.888vw;
  }

  .database-preview__row {
    // width: 1385px;
    width: 184.666vw;
  }

  .database-preview__item {
    box-sizing: border-box;
    max-width: none;
    width: 88.13vw;
    height:31.46vw;
    margin-right: @m30px;
    margin-bottom: 0;
  }

  .database-preview__img-wrapper {
    max-width: none;
    width: 24.26vw;
  }
}

@media (min-width: @max-desktop-width) {

  .database-preview {
    margin-bottom: 50px;
  }

  .database-preview__list {
    margin-top: 70.8px;
  }

  .database-preview__item {
    width: 785px;
    margin-bottom: 50px;
  }
}
