.get-help {
  margin-bottom: @d191px;
  padding-top: @d105px;

  text-align: center;
  background-color: #ffffff;

  border-radius: 15px;
  box-shadow: 0 0 153px 27px rgba(17, 30, 66, 0.05);
}

.get-help__call-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 850px;
  width: @d850px;

  margin-top: @d73px;
  .margin-inline(@a);
  padding-bottom: @d109px;
}

.get-help__text {
  font-size: @d19px;
  letter-spacing: 0.19px;
}

.get-help__number {
  font-weight: 700;
  font-size: @d45px;
  letter-spacing: 0.23px;
  color: #2f2f2f;
}

.get-help__link {
  max-width: 261px;
  max-height: 55px;
  width: @d261px;
  height: @d55px;

  font-size: @d18px;
  letter-spacing: 0.11px;
  border-radius: 37px;
}

.get-help__consultation-wrapper {
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: @d610px;
  height: @d55px;

  .margin-inline(@a);

  margin-top: @d41px;
  padding-left: @d55px;

  border-radius: 45px;
  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
}

.get-help__consultation-phone {
  padding-left: @d23px;

  font-size: @d27px;
  font-weight: 700;
  letter-spacing: 0.14px;

  color: #2f2f2f;
  background-color: transparent;
  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.06);
}

.get-help__consultation-btn {
  max-width: none;
  max-height: none;
  width: @d262px;
  height: 100%;

  font-size: @d18px;

  border: none;
  border-radius: 45px;
}

.get-help__header {
  box-sizing: border-box;
  position: relative;
  height: @d232px;
  padding-top: @d77px;
  background-color: transparent;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
    width: 100%;
    height: @d242px;

    background-image: url('../img/bg/bg-green-big.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 19px 19px 0 0;
  }
}

.get-help__icon {
  position: absolute;
  top: -@d45px;
  left: 50%;
  transform: translateX(-50%);

  width: @d90px;
  height: @d90px;

  background-color: #fff;
  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.06);
  border-radius: 19px;

  &::before {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: @d46px;
    height: @d46px;

    background-image: url('../img/svg/phone-call-green.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
}

.get-help__header-text {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  width: @d280px;
  .margin-inline(@a);
}

.get-help__header-title {
  margin-bottom: @d14px;

  font-size: @d14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.get-help__header-phone {
  font-size: @d32px;
  font-weight: 700;
  color: #ffffff;
}

.get-help--detox {
  margin-bottom: @d154px;
}

.get-help--consultation {
  box-shadow: none;
  background-color: transparent;
  .intro__title {
    margin-bottom: @d12px;
  }
}

.get-help--green {
  margin-bottom: @d198px;
  padding-top: 0;
  padding-bottom: @d42px;

  box-shadow: 0 0 75px 7px rgba(5, 9, 48, 0.04);
  border-radius: 19px;
  .intro--get-help {
    width: @d670px;
  }
  .intro__title {
    margin-bottom: @d27px;
    line-height: @d43px;
    letter-spacing: 0.19px;
  }
  .get-help__consultation-wrapper {
    justify-content: center;
    margin-top: @d30px;
    padding-left: 0;
    box-shadow: none;
  }
  .get-help__consultation-btn {
    width: 281px;
    margin-top: 0px;
    font-size: @d16px;
  }
}

@media  (max-width: @mobile-width) {
  .get-help {
    padding-top: @m168px;
    margin-bottom: @m175px;
  }

  .get-help.container {
    .padding-inline(0);
    .margin-inline(@m35px);
  }

  .get-help__call-wrapper {
    flex-direction: column;
    width: auto;
    padding-bottom: @m181px;
  }

  .get-help__text {
    margin-bottom: @m6px;
    font-size: @m30px;
  }

  .get-help__text:last-of-type {
    display: none;
  }

  .get-help__number {
    margin-bottom: @m40px;
    font-size: @m45px;
    color: #2f2f2f;
  }

  .get-help__link {
    max-width: none;
    max-height: none;
    width: @m505px;
    height: @m75px;
    font-size: @m27px;
  }
}

@media (min-width: @max-desktop-width) {
  .get-help {
    margin-bottom: 191px;
    padding-top: 105px;
  }

  .get-help__call-wrapper {
    margin-top: 73px;
    padding-bottom: 109px;
  }

  .get-help__text {
    font-size: 19px;
  }

  .get-help__number {
    font-size: 45px;
  }

  .get-help__link {
    font-size: 18px;
  }

  .get-help__consultation-wrapper {
    width: 610px;
    height: 55px;

    margin-top: 41px;
    padding-left: 55px;
  }

  .get-help__consultation-phone {
    padding-left: 23px;
    font-size: 27px;
  }

  .get-help__consultation-btn {
    width: 262px;
    font-size: 18px;
  }

  .get-help__header {
    height: 232px;
    padding-top: 77px;
    &::before {
      height: 242px;
    }
  }

  .get-help__icon {
    top: -45px;
    width: 90px;
    height: 90px;
    &::before {
      width: 46px;
      height: 46px;
    }
  }

  .get-help__header-text {
    width: 280px;
  }

  .get-help__header-title {
    margin-bottom: 14px;
    font-size: 14px;
  }

  .get-help__header-phone {
    font-size: 32px;
  }

  .get-help--detox {
    margin-bottom: 154px;
  }

  .get-help--consultation {
    .intro__title {
      margin-bottom: 12px;
    }
  }

  .get-help--green {
    margin-bottom: 198px;
    padding-top: 0;
    padding-bottom: 42px;
    .intro--get-help {
      width: 670px;
    }
    .intro__title {
      margin-bottom: 27px;
      line-height: 43px;
    }
    .get-help__consultation-wrapper {
      margin-top: 30px;
    }
    .get-help__consultation-btn {
      width: 281px;
      font-size: 16px;
    }
  }
}
