.intro {
  &--about {
    max-width: 890px;
    width: 46.954vw;
  }

  &--get-help {
    max-width: 960px;
    width: 52vw;

    .margin-inline(@a);

    .intro__title {
      margin-bottom: 2.39583vw;
    }

    .intro__description {
      display: inline;
      letter-spacing: 0.19px;
    }
  }

  &--rehab-swiper {
    max-width: 800px;
    width: 41.666vw;
    margin-bottom: 3.645833vw;
  }

  &--program {
    max-width: 900px;
    width: 46.875vw;
    margin-bottom: 3.64583vw;
  }

  &--reviews {
    .intro__description {
      max-width: 900px;
      width: 47.275vw;

      @media  (max-width: 920px) {
        width: 47.575vw;
      }
    }
  }

  &--price {
    max-width: 780px;
    width: 45.625vw;
  }

  &--warning {
    max-width: 750px;
    width: 39.363vw;

    .intro__title {
      margin-bottom: 2.552vw;
    }
  }

  &--database-preview {
    .intro__description {
      max-width: 725px;
      width: 37.76vw;
    }
  }

  &--database-preview--sub {
    padding-top: 1.875vw;
    padding-left: 1.510vw;
    padding-bottom: 2.083vw;

    .intro__title {
      margin-bottom: 1.0104vw;
      font-size: 1.406vw;
      letter-spacing: 0.14px;
    }

    .intro__description {
      max-width: 502px;
      width: 26.545vw;

      font-size: 0.989vw;
      line-height: 1.302vw;
    }

    .intro__subtitle {
      margin-top: 1.35416vw;
      margin-bottom: 0.677vw;
    }
  }
}

.intro__title {
  margin-bottom: 2.187vw;

  font-size: 2.34375vw;
  font-weight: 700;
  letter-spacing: 0.23px;

  color: #2f2f2f;
}

.intro__description {
  font-size: 0.98958333vw;
  font-weight: 400;
  line-height: 1.458vw;
  letter-spacing: 0.1px;

  color: #747474;
}

.intro__link-wrapper {
  display: flex;
  justify-content: space-between;
}

.intro__link {
  position: relative;
  max-width: 129px;
  width: 6.718vw;
  margin-top: auto;

  font-size: 0.989vw;
  letter-spacing: 0.1px;
  color: #1ab455;

  &::before {
    content: '';
    position: absolute;
    top: -0.156vw;
    right: 0;

    max-width: 8px;
    max-height: 26px;
    width: 0.4166vw;
    height: 1.354vw;

    background-image: url('../img/svg/arrow-m.svg');
    background-position: center;
    background-size: cover;
  }
}

.intro__subtitle {
  margin-bottom: 0.625vw;

  font-size: 1.406vw;
  font-weight: 700;
  letter-spacing: 0.14px;
}

@media  (max-width: @mobile-width) {
  .intro--about {
    max-width: none;
    width: 86.854vw;

    .intro__title {
      margin-bottom: 5.396vw;
    }
  }

  .intro--get-help {
    max-width: none;
    width: 73vw;
    .intro__title {
      width: 55vw;
      .margin-inline(@a);
      margin-bottom: 5.396vw;
    }
    .intro__description {
      display: block;
    }
  }

  .intro--rehab-swiper {
    max-width: none;
    width: auto;
    .intro__description {
      width: 90vw;
      margin-bottom: 10.646vw;
    }
  }

  .intro--program {
    max-width: none;
    width: 81.875vw;
    margin-bottom: @m86px;
  }

  .intro--reviews {
    .intro__description {
      width: auto;
      margin-bottom: 10.833vw;
    }
  }

  .intro--price {
    max-width: none;
    width: 87vw;
  }

  .intro--warning {
    max-width: none;
    width: 100%;
    .intro__title {
      width: 68vw;
      margin-bottom: 3.552vw;
    }
    .intro__description {
      width: 80vw;
    }
  }

  .intro--database-preview {
    .intro__description {
      max-width: none;
      width: 84.76vw;
      margin-bottom: 11.333vw; //84px
    }
  }

  .intro--database-preview--sub {
    padding-top: 5.275vw;
    padding-left: 3.21vw;

    .intro__title {
      font-size: @m32px;
      letter-spacing: 0.16px;
    }

    .intro__description {
      max-width: none;
      width:  54.666vw;
      margin-bottom: 0;

      font-size: @m30px;
      line-height: @m35px;
    }

    .intro__subtitle {
      margin-top: 1.35416vw;
      margin-bottom: 0.677vw;
    }
  }

  .intro__title {
    margin-bottom: 4.096vw;
    font-size: @m45px;
  }

  .intro__description {
    margin-bottom: @m40px;

    font-size: @m30px;
    line-height: @m38px;
  }

  .intro__link-wrapper {
    flex-direction: column;
  }

  .intro__link {
    max-width: none;
    // width: 21.333vw;
    width: 22.66vw;
    font-size: @m30px;

    &::before {
      top: -@m5px;
      right: -@m12px;
      .mn();
      width: @m14px;
      height: @m44px;
    }
  }

  .intro__subtitle {
    margin-bottom: @m14px;

    font-size: @m32px;
    letter-spacing: 0.16px;
  }
}

@media (min-width: @max-desktop-width) {
  .intro__title {
    margin-bottom: 42.4px;
    font-size: 45px;
  }

  .intro__description {
    font-size: 19px;
    line-height: 28px;
  }

  .intro__link {
    font-size: 19px;
    letter-spacing: 0.1px;
    color: #1ab455;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      right: 0;

      width: 8px;
      height: 26px;
    }
  }

  .intro__subtitle {
    margin-bottom: 12px;
    font-size: 27px;
  }

  .intro--get-help {
    .intro__title {
      margin-bottom: 46px;
    }
  }

  .intro--rehab-swiper {
    margin-bottom: 70px;
  }

  .intro--program {
    margin-bottom: 70px;
  }

  .intro--warning {
    .intro__title {
      margin-bottom: 49px;
    }
  }

  .intro--database-preview--sub {
    padding-top: 36px;
    padding-left: 29px;
    padding-bottom: 40px;
    .intro__title {
      margin-bottom: 19.4px;
      font-size: 27px;
    }
    .intro__description {
      font-size: 19px;
      line-height: 25px;
    }
    .intro__subtitle {
      margin-top: 26px;
      margin-bottom: 13px;
    }
  }
}
