.main-info {
  z-index: 10;
  position: relative;
  padding-top: 15.246vw;
}

.main-info__title {
  max-width: 740px;
  width: 38.54vw;
  margin-bottom: 1.875vw;

  line-height: 3.3854166vw;
  font-size: 3.125vw;

  color: #ffffff;

  @media (max-width: 1010px) {
    width: 40.54vw;
  }
}

.main-info__description {
  max-width: 604px;
  width: 31.25vw;
  margin-bottom: 2.5vw;

  font-size: 1.04166666vw;
  line-height: 1.5625vw;
  letter-spacing: 0.1px;

  color: #ffffff;
}

// .main-info__description-mob {
//   display: none;
// }

.main-info__callback {
  max-width: 337px;
  max-height: 77px;
  width: 17.552vw;
  height: 4.0104vw;
  margin-bottom: 6.14583vw;

  font-size: 1.14583vw;
  letter-spacing: 0.11px;
  border-radius: 37px;
}

.main-info__features {
  padding-bottom: 4.531vw;
}

@media (max-width: @mobile-width) {
  .main-info {
    padding-top: 66.66vw;
    border-bottom: @m1px solid transparent;
  }

  .main-info__title {
    width: 84.54vw;
    margin-bottom: 4.875vw;
    font-size: @m50px;
    line-height: @m57px;
  }

  // .main-info__description {
  //   display: none;
  // }

  .main-info__description {
    display: block;
    width: 78.25vw;
    margin-bottom: 8.5vw;

    font-size: @m30px;
    line-height: @m38px;
  }

  .main-info__callback {
    width: 44.4vw;
    height: @m74px;
    margin-bottom: 20.74583vw;

    font-size: @m22px;
    border-radius: 37px;
  }

  .main-info__features {
    padding-bottom: 0;
  }
}


@media  (min-width: @max-desktop-width) {

  .main-info {
    padding-top: 293px;
  }

  .main-info__title {
    margin-bottom: 36px;
    font-size: 60px;
    line-height: 65px;
  }

  .main-info__description {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-info__callback {
    margin-bottom: 118px;
    font-size: 22px;
    letter-spacing: 0.11px;
  }

  .main-info__features {
    padding-bottom: 87px;
  }
}
