.program {
  margin-bottom: @d203px;
}

.program__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  max-height: 407px;
  height: @d407px;

  counter-reset: programItem;
}

.program__item {
  position: relative;
  box-sizing: border-box;

  max-width: 660px;
  max-height: 180px;
  width: @d660px;
  height: @d180px;
  margin-left: @d50px;
  padding-top: @d45px;
  padding-left: @d100px;

  box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.04);
  border-radius: 19px;
  background-color: #ffffff;

  &::before {
    counter-increment: programItem;

    content: counter(programItem, decimal-leading-zero);
    position: absolute;
    top: @d21px;
    right: @d22px;

    font-family: @gotham;
    font-size: @d50px;
    font-weight: 700;
    letter-spacing: 0.25px;

    color: #1ab455;
    opacity: 0.07;
  }
}

.program__item__icon {
  position: absolute;
  top: 50%;
  left: -10%;

  transform: translate(15%, -50%);

  max-width: 100px;
  max-height: 100px;
  width: @d100px;
  height: @d100px;

  border-radius: 19px;
  background-color: #1ab455;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: @d50px;
    height: @d50px;

    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--request::before {
    max-width: 47px;
    max-height: 53px;
    width: 2.4479vw;
    height: 2.760vw;

    background-image: url('../img/svg/request-white.svg');
  }

  &--assure::before {
    max-width: 59px;
    max-height: 53px;
    width: 3.0729vw;
    height: 2.760vw;

    background-image: url('../img/svg/assure-white.svg');
  }

  &--plan::before {
    max-width: 43px;
    max-height: 55px;
    width: 2.2395vw;
    height: 2.8645vw;

    background-image: url('../img/svg/plan-white.svg');
  }

  &--contract::before {
    max-width: 45px;
    max-height: 55px;
    width: 2.34375vw;
    height: 2.8645vw;

    background-image: url('../img/svg/contract-white.svg');
  }
}

.program__title {
  margin-bottom: @d4px;

  // font-size: 1.5625vw;
  font-size: @d30px;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.program__description {
  max-width: 369px;
  width: @d369px;

  font-size: @d19px;
  line-height: @d25px;
  letter-spacing: 0.1px;
}

.program--detox {
  margin-bottom: @d191px;
  .program__list {
    counter-reset: none;
    max-height: none;
    height: @d658px;
  }
  .program__item {
    max-height: none;
    width: @d344px;
    height: @d300px;
    margin-left: @d43px;
    padding-top: @d39px;
    padding-left: @d58px;
    &::before {
      content: none;
    }
  }
  .program__item__icon {
    position: absolute;
    top: @d72px;
    left: -@d52px;

    width: @d70px;
    height: @d70px;

    &::before {
      width: @d32px;
      height: @d32px;
    }

    &--danger::before {
      width: @d36px;
      height: @d32px;

      background-image: url('../img/program/danger.svg');
    }

    &--sad::before {
      background-image: url('../img/program/sad.svg');
    }

    &--time::before {
      background-image: url('../img/program/time.svg');
    }

    &--check::before {
      background-image: url('../img/program/check.svg');
    }

    &--vip::before {
      background-image: url('../img/program/vip.svg');
    }

    &--more::before {
      background-image: url('../img/program/more.svg');
    }

    &--oculus::before {
      background-image: url('../img/program/oculus.svg');
    }

    &--hypnos::before {
      background-image: url('../img/program/hypnos.svg');
    }

    &--catlery::before {
      background-image: url('../img/program/catlery.svg');
    }

    &--snow::before {
      background-image: url('../img/program/snow.svg');
    }

    &--share::before {
      background-image: url('../img/program/share.svg');
    }
  }
  .program__title {
    margin-bottom: @d31px;
    padding-right: @d20px;

    font-weight: 700;
    line-height: @d30px;
    letter-spacing: 0.15px;
  }
  .program__description {
    width: @d260px;

    font-size: @d19px;
    line-height: @d25px;
    letter-spacing: 0.1px;

    &--under {
      text-decoration: underline;
    }
  }
}

.program--signs {
  .intro {
    width: @d780px;
  }
  .intro__description {
    font-size: @d19px;
    line-height: @d29px;
  }
  .program__item:first-child {
    .program__title {
        padding-right: @d80px;
     }
  }
 .program__title {
    padding-right: @d30px;
 }
}

.program--detox-treatment {
  margin-bottom: @d191px;
  .intro--program-detox {
    margin-bottom: @d77px;
  }
  .intro__description {
    font-size: @d19px;
  }
  .program__list {
    counter-reset: programItem;
    max-height: none;
    height: @d670px;
  }
  .program__item {
    max-height: none;
    width: @d520px;
    height: @d186px;
    margin-left: @d53px;
    padding-top: @d39px;
    padding-left: @d98px;
    &::before {
      content: none;
    }
  }
  .program__item__icon {
    position: absolute;
    top: @d88px;
    left: -@d65px;

    width: @d100px;
    height: @d100px;

    &::before {
      counter-increment: programItem;
      content: counter(programItem, decimal-leading-zero);

      position: absolute;

      font-family: @gotham;
      font-size: @d40px;
      font-weight: 700;
      letter-spacing: 0.2px;

      color: #ffffff;
    }
  }
  .program__title {
    margin-bottom: @d10px;
    line-height: @d30px;
  }
}

@media (max-width: @mobile-width) {

  .program {
    margin-bottom: @m184px;
  }

  .program__list {
    flex-direction: column;
    max-width: none;
    max-height: none;
    height: auto;
    width: 100%;
  }

  .program__item {
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    margin-bottom: @m44px;
    margin-left: @m51px;
    padding-top: @m39px;
    padding-left: @m96px;
    padding-right: @m8px;

    &::before {
      top: @m20px;
      right: @m33px;
      font-size: @m50px;
    }
  }

  .program__item__icon {
    .mn ();
    width: @m100px;
    height: @m100px;
    border-radius: @m19px;

    &::before {
      .mn ();
      width: @m56px;
      height: @m60px;
    }
  }

  .program__title {
    margin-bottom: @m8px;
    font-size: @m32px;
  }

  .program__description {
    .mn ();
    width: auto;
    height: auto;
    padding-bottom: @m43px;

    font-size: @m30px;
    line-height: @m33px;
  }
}

@media (min-width: @max-desktop-width) {
  .program {
    margin-bottom: 203px;
  }

  .program__item {
    margin-left: 50px;
    padding-top: 45px;
    padding-left: 100px;

    &::before {
      top: 21px;
      right: 22px;
      font-size: 50px;
    }
  }

  .program__item__icon {
    width: 100px;
    height: 100px;
    &::before {
      width: 50px;
      height: 50px;
    }
  }

  .program__title {
    margin-bottom: 4px;
    font-size: 30px;
  }

  .program__description {
    font-size: 19px;
    line-height: 25px;
  }

  .program--detox {
    margin-bottom: 191px;
    .program__list {
      height: 658px;
    }
    .program__item {
      width: 344px;
      height: 300px;
      margin-left: 43px;
      padding-top: 39px;
      padding-left: 58px;
    }
    .program__item__icon {
      top: 72px;
      left: -52px;
      width: 70px;
      height: 70px;

      &::before {
        width: 32px;
        height: 32px;
      }
      &--danger::before {
        max-width: 36px;
        max-height: 32px;
        width: 36px;
        height: 32px;
      }
    }
    .program__title {
      margin-bottom: 31px;
      padding-right: 20px;
      line-height: 30px;
    }
    .program__description {
      width: 260px;
      font-size: 19px;
      line-height: 25px;
    }
  }

  .program--signs {
    .intro {
      width: 780px;
    }
    .intro__description {
      font-size: 19px;
      line-height: 29px;
    }

    .program__item:first-child {
      .program__title {
          padding-right: 80px;
       }
    }
   .program__title {
      padding-right: 30px;
   }
  }

  .program--detox-treatment {
    margin-bottom: 191px;
    .intro--program-detox {
      margin-bottom: 77px;
    }
    .intro__description {
      font-size: 19px;
    }
    .program__list {
      max-height: none;
      height: 670px;
    }
    .program__item {
      max-height: none;
      width: 520px;
      height: 186px;
      margin-left: 53px;
      padding-top: 39px;
      padding-left: 98px;
    }
    .program__item__icon {
      top: 88px;
      left: -65px;

      width: 100px;
      height: 100px;
      &::before {
        font-size: 40px;
      }
    }
    .program__title {
      margin-bottom: 10px;
      line-height: 30px;
    }
  }
}
