.service-item__container {
  position: relative;
  box-sizing: border-box;

  // max-width: 660px;
  // max-height: 180px;
  width: 1159px;
  height: 380px;
  margin-left: 2.6041vw;
  padding-top: 2.34375vw;
  padding-left: 5.208vw;

  box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.04);
  border-radius: 19px;
  background-color: #ffffff;

  &::before {
    // counter-increment: programItem;

    // content: counter(programItem, decimal-leading-zero);
    content: '';
    position: absolute;
    top: @d21px;
    right: @d22px;

    font-family: @gotham;
    font-size: @d50px;
    font-weight: 700;
    letter-spacing: 0.25px;

    color: #1ab455;
    opacity: 0.07;
  }
}

.service-item__icon {
  position: absolute;
  top: 20%;
  left: -50px;

  // transform: translateY(-50%);

  max-width: 100px;
  max-height: 100px;
  width: 5.208vw;
  height: 5.208vw;

  border-radius: 19px;
  background-color: #1ab455;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
  }

  &--drop::before {
    max-width: 47px;
    max-height: 53px;
    width: 2.4479vw;
    height: 2.760vw;

    background-image: url('../img/svg/request-white.svg');
  }
}

.service-item__title {
  margin-bottom: 0.2083vw;

  font-size: 1.5625vw;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.service-item__subtitle {
  font-size: 0.989583vw;
  line-height: 1.30208vw;
  letter-spacing: 0.1px;
}

.service-item__description {
  // max-width: 369px;
  // width: 19.2187vw;

  font-size: 0.989583vw;
  line-height: 1.30208vw;
  letter-spacing: 0.1px;
}

.service-item__price {
  font-size: 35px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.17px;

  color: #14b250;
}
