// кнопка-меню на мобильном
// .database-search__list-toggle {
//   display: none;
// }

.services {
  margin-bottom: @d177px;
}

.services__list {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  height: @d303px;

  transition: height 0.2s;
}

.services__item {
  display: flex;
  justify-content: center;

  width: @d176px;
  height: @d129px;

  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.04);
  border-radius: 19px;
}

.services__link {
  box-sizing: border-box;
  position: relative;
  display: block;

  width: 100%;
  height: 100%;
  padding-top: @d65px;

  color: #2f2f2f;

  font-size: @d17px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: @d23px;

  border-radius: 19px;
}

.services__text {
  display: inline-block;
  width: @d130px;
}

.services__img {
  position: absolute;
  top: 20%;
  left: 50%;
  width: @d30px;
  height: @d30px;
  transform: translateX(-50%);

  &--game {
    width: @d22px;
    height: @d22px;
  }

  &--white {
    visibility: hidden;
  }
}

.active.services__item {
  background-color: #14b250;

  .services__link {
    color: #fff;
  }

  .services__picture {
    visibility: hidden;
  }

  .services__img--white {
    visibility: visible;
  }
}

.services__sub-menu {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: none;
  justify-content: space-between;
  width: 100%;
  height: @d130px;

  box-shadow: 0 0 55px 5px rgba(5, 9, 48, 0.06);
  border-radius: 19px;
  background-color: #ffffff;
}

.active.services__sub-menu {
  display: flex;
}

.services__sub-item {
  position: relative;
  width: @d203px;

  border-radius: 19px;


  &::after {
    content: '';
    position: absolute;

    top: @d25px;
    right: 0;
    width: @d2px;
    height: @d81px;

    background-color: #edeef3;
  }

  &:first-child {
    width: @d226px;
  }

  &:last-child {
    width: @d175px;
  }
}

.services__sub-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: @d18px;
  border-radius: 19px;
}

.services__sub-text {
  display: inline-block;
  width: @d110px;
}

@media  (min-width: @max-desktop-width) {
  .services {
    margin-bottom: 177px;
  }

  .services__list {
    height: 303px;
  }

  .services__item {
    width: 176px;
    height: 129px;
  }

  .services__link {
    padding-top: 65px;

    font-size: 17px;
    line-height: 23px;
  }

  .services__text {
    width: 130px;
  }

  .services__img {
    width: 30px;
    height: 30px;

    &--game {
      width: 22px;
      height: 22px;
    }
  }

  .services__sub-menu {
    height: 130px;
  }

  .services__sub-item {
    width: 203px;

    &::after {
      top:25px;
      width: 2px;
      height: 81px;
    }

    &:first-child {
      width: 226px;
    }

    &:last-child {
      width: 175px;
    }
  }

  .services__sub-link {
    font-size: 18px;
  }

  .services__sub-text {
    width: 110px;
  }
}
