.service-item {
  margin-bottom: @d114px;
}

.service-item__container {
  position: relative;
  box-sizing: border-box;

  width: 60.36vw; // 1159px
  height: @d380px;
  margin-left: @d50px;
  padding-top: @d56px;
  padding-left: @d120px;

  box-shadow: 16px 8px 27px 11px rgba(2, 7, 32, 0.04);
  border-radius: 19px;
  background-color: #ffffff;
}

.service-item__icon {
  position: absolute;
  top: 16%;
  left: -@d50px;

  width: @d100px;
  height: @d100px;

  border-radius: 19px;
  background-color: #1ab455;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
  }

  &--lite::before {
    width: @d47px;
    height: @d51px;

    background-image: url('../img/svg/transf-white.svg');
  }
}

.service-item__title {
  margin-bottom: @d17px;

  font-size: @d30px;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.service-item__subtitle {
  margin-bottom: @d38px;

  font-size: @d18px;
  line-height: @d33px;
  letter-spacing: 0.27px;
}

.service-item__description {
  width: @d895px;
  margin-bottom: @d37px;

  font-size: @d19px;
  line-height: @d29px;
  letter-spacing: 0.1px;
}

.service-item__price {
  font-size: @d35px;
  font-weight: 700;
  line-height: @d33px;
  letter-spacing: 0.17px;

  color: #14b250;
}

@media (min-width: @max-desktop-width) {
  .service-item {
    margin-bottom: 114px;
  }

  .service-item__container {
    width: 1159px;
    height: 380px;
    margin-left: 50px;
    padding-top: 56px;
    padding-left: 120px;
  }

  .service-item__icon {
    width: 100px;
    height: 100px;

    &--lite::before {
      width: 47px;
      height: 53px;
    }
  }

  .service-item__title {
    margin-bottom: 17px;
    font-size: 30px;
  }

  .service-item__subtitle {
    margin-bottom: 38px;

    font-size: 18px;
    line-height: 33px;
  }

  .service-item__description {
    width: 895px;
    margin-bottom: 37px;

    font-size: 19px;
    line-height: 29px;
  }

  .service-item__price {
    font-size: 35px;
    line-height: 33px;
  }
}
