.social-wrapper {
  // .bred();
  display: flex;
  justify-content: space-between;
}

.social-panel {
  display: flex;
  justify-content: space-between;
  width: 705px;
  .b(blue);
}

.social-panel__date {
  .bred();
  display: flex;
  font-size: 19px;
}
.social-panel__date-text {
  letter-spacing: 0.1px;
}
.social-panel__datetime {
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #2f2f2f;
}
.social-panel__views-count {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.social-panel__share {
  display: flex;
}
.social-panel__list {
}
.social-panel__item {
}
.social-panel__link {
  // font-size: 0;
}
