.social-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: @d68px;
}

.social-panel {
  display: flex;
  width: @d705px;
  font-size: @d19px;
}

.social-panel__date {
  display: flex;
  margin-right: @a;
}

.social-panel__date-text {
  letter-spacing: 0.1px;
}

.social-panel__datetime {
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #2f2f2f;
}

.social-panel__views-count {
  position: relative;
  // margin-right: @d77px;
  margin-right: @d50px;

  font-size: @d19px;
  font-weight: 700;
  letter-spacing: 0.1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -@d47px;
    width: @d34px;
    height: @d21px;

    background-image: url('../img/social-panel/view.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.social-panel__share {
  display: flex;
}

.social-panel__share-title {
  margin-right: @d15px;
  letter-spacing: 0.1px;
}

.social-panel__list {
  display: flex;
}

.social-panel__item {
  margin-left: @d15px;
}

.ya-share2__item_service_telegram .ya-share2__badge,
.ya-share2__item_service_vkontakte .ya-share2__badge,
.ya-share2__item_service_whatsapp .ya-share2__badge,
.ya-share2__item_service_twitter .ya-share2__badge,
.ya-share2__item_service_facebook .ya-share2__badge {
  position: relative;
  top:-@d4px;
  background-color: transparent!important;
}

.ya-share2__item_service_vkontakte .ya-share2__badge {
  top: -@d10px;
}

.ya-share2__item_service_telegram .ya-share2__icon,
.ya-share2__item_service_vkontakte .ya-share2__icon,
.ya-share2__item_service_whatsapp .ya-share2__icon,
.ya-share2__item_service_twitter .ya-share2__icon,
.ya-share2__item_service_facebook .ya-share2__icon {
  width: @d27px!important;
  height: @d27px!important;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ya-share2__item_service_telegram .ya-share2__icon {
  background-image: url('../img/social-panel/telegram.svg')!important;
}

.ya-share2__item_service_vkontakte .ya-share2__icon {
  width: @d37px!important;
  height: @d37px!important;
  background-image: url('../img/social-panel/vk.svg')!important;
}

.ya-share2__item_service_whatsapp .ya-share2__icon {
  background-image: url('../img/social-panel/whatsapp.svg')!important;
}

.ya-share2__item_service_twitter .ya-share2__icon {
  background-image: url('../img/social-panel/twitter.svg')!important;
}

.ya-share2__item_service_facebook .ya-share2__icon {
  background-image: url('../img/social-panel/facebook.svg')!important;
}

@media (max-width: @mobile-width) {
  .social-wrapper {
    margin-bottom: @m91px;
    flex-wrap: wrap;
    .breadcrumbs {
      margin-bottom: @m78px;
    }
  }

  .social-panel {
    flex-wrap: wrap;
    width: @a;
    font-size: @m27px;
  }

  .social-panel__date {
    width: @a;
    margin-bottom: @m67px;
  }

  .social-panel__views-count {
    margin-right: @m167px;
    font-size: @m27px;

    &::before {
      top: -@m2px;
      left: -@m67px;
      width: @m54px;
      height: @m33px;
    }
  }

  .social-panel__share-title {
    margin-top: @m4px;
    margin-right: @m10px;
    font-size: @m33px;
    letter-spacing: 0.17px;
  }

  .social-panel__item {
    margin-left: @m34px;
  }

  .ya-share2__item_service_telegram .ya-share2__badge,
  .ya-share2__item_service_vkontakte .ya-share2__badge,
  .ya-share2__item_service_whatsapp .ya-share2__badge,
  .ya-share2__item_service_twitter .ya-share2__badge,
  .ya-share2__item_service_facebook .ya-share2__badge {
    top:0px;
  }

  .ya-share2__item_service_vkontakte .ya-share2__badge {
    top: -@m8px;
  }

  .ya-share2__item_service_telegram .ya-share2__icon,
  .ya-share2__item_service_vkontakte .ya-share2__icon,
  .ya-share2__item_service_whatsapp .ya-share2__icon,
  .ya-share2__item_service_twitter .ya-share2__icon,
  .ya-share2__item_service_facebook .ya-share2__icon {
    width: @m48px!important;
    height: @m48px!important;
  }

  .ya-share2__item_service_vkontakte .ya-share2__icon {
    width: @m62px!important;
    height: @m62px!important;
  }
}

@media (min-width: @max-desktop-width) {
  .social-wrapper {
    margin-bottom: 68px;
  }

  .social-panel {
    width: 705px;
    font-size: 19px;
  }

  .social-panel__views-count {
    // margin-right: 77px;
    margin-right: 50px;

    font-size: 19px;

    &::before {
      left: -47px;
      width: 34px;
      height: 21px;
    }
  }

  .social-panel__share-title {
    margin-right: 15px;
  }

  .social-panel__item {
    margin-left: 15px;
  }

  .ya-share2__item_service_telegram .ya-share2__badge,
  .ya-share2__item_service_vkontakte .ya-share2__badge,
  .ya-share2__item_service_whatsapp .ya-share2__badge,
  .ya-share2__item_service_twitter .ya-share2__badge,
  .ya-share2__item_service_facebook .ya-share2__badge {
    top:-4px;
    // background-color: transparent!important;
  }

  .ya-share2__item_service_vkontakte .ya-share2__badge {
    top: -10px;
  }

  .ya-share2__item_service_telegram .ya-share2__icon,
  .ya-share2__item_service_vkontakte .ya-share2__icon,
  .ya-share2__item_service_whatsapp .ya-share2__icon,
  .ya-share2__item_service_twitter .ya-share2__icon,
  .ya-share2__item_service_facebook .ya-share2__icon {
    width: 27px!important;
    height: 27px!important;
  }

  .ya-share2__item_service_vkontakte .ya-share2__icon {
    width: 37px!important;
    height: 37px!important;
  }
}
