.social-wrapper {
  .bred();
  display: flex;
  justify-content: space-between;
}

.social-panel {
  display: flex;
  justify-content: space-between;
  width: 705px;
}

.social-panel__date {
  .bred();
}
.social-panel__date-text {
}
.social-panel__datetime {
}
.social-panel__views-count {
}
.social-panel__share {
}
.social-panel__list {
}
.social-panel__item {
}
.social-panel__link {
}
